/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.icon-capture {
    margin-right: 20px;
}

md-card {
    padding-top: 0;
    background-color: white;
}
md-card h2 {
    border-bottom: solid 1px darkgray;
    padding-bottom: 5px;
}

header {
    border-bottom: solid 1px darkgray;
    margin-bottom: 15px;
    box-shadow: 0 10px 10px lightgrey;

}
header #logo img {
    vertical-align: top;
}


header #search-field {
    position: absolute;
    right: 140px;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 200px;
}

header #search-voice {
    position: absolute;
    right: 80px;
    font-size: 20px;
    margin-right:10px;
    margin-top:-5px;
    height: 40px;
    width: 40px;
}

header #exit {
    position: absolute;
    right: 10px;
    font-size: 20px;
    margin-right:10px;
    margin-top:-5px;
    height: 40px;
    width: 40px;
}

.content {
    flex-direction: column;
    margin-bottom: 40px;
}

#cards {
    margin-left:30px;
}
#cards h2 i:first-child {
    color: red;
}
#cards h2 i:last-child {
    color: darkgray;
}

footer {
    text-align: center;
    border-top: solid 1px darkgray;
    box-shadow: 0 -5px 5px lightgrey;
    height: 35px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background: white;
    z-index: 7;
}

#search-results {
    margin: 10px;
}



/* BREADCRUMB */

#breadcrumb {
    list-style: none;
    display: inline-block;
    padding-left: 5px;
    padding-top: 2px;
}
#breadcrumb .icon {
    font-size: 14px;
}
#breadcrumb li {
    float: left;
}
#breadcrumb li a {
    color: #FFF;
    display: block;
    background: #3498db;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
    background-color: #2980b9;
}
#breadcrumb li:nth-child(even) a:before {
    border-color: #2980b9;
    border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
    border-left-color: #2980b9;
}
#breadcrumb li:first-child a {
    padding-left: 15px;
}
#breadcrumb li:first-child a:before {
    border: none;
}
#breadcrumb li:last-child a {
    padding-right: 15px;
}
#breadcrumb li:last-child a:after {
    border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #3498db;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}
#breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}
#breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #3498db;
}
#breadcrumb li a:hover {
    background-color: #1abc9c;
}
#breadcrumb li a:hover:before {
    border-color: #1abc9c;
    border-left-color: transparent;
}
#breadcrumb li a:hover:after {
    border-left-color: #1abc9c;
}
#breadcrumb li a:active {
    background-color: #16a085;
}
#breadcrumb li a:active:before {
    border-color: #16a085;
    border-left-color: transparent;
}
#breadcrumb li a:active:after {
    border-left-color: #16a085;
}

.green {
  background-color: #5cb85c;
}
