<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="sgHackathonApp" ng-controller="MainCtrl">

  <header>
      <a ng-href="/"><img src="images/logo_header_refonte_2010.gif"></a>
      <md-button class="md-primary" ng-click="goToHome()">Le Coffre</md-button>
      <md-button ng-if="where() == 'list'">Mon Espace Bancaire</md-button>
      <md-button ng-if="where() == 'search'">Recherche</md-button>

      <md-button style="float: right; font-size: 30px" class="md-fab" ng-click="dialogBasic($event)"><i class="fa fa-microphone"></i></md-button>
      <md-text-float style="float: right; margin: 0; padding: 0" label="Recherche" ng-model="search"></md-text-float>
  </header>

  <div class="clearfix"></div>


  <div ng-view=""></div>


  <footer class="footer">
      <md-button ng-click="showListBottomSheet($event)">Mes Actions</md-button>
  </footer>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="../bower_components/es5-shim/es5-shim.js"></script>
    <script src="../bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/es5-shim/es5-shim.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/json3/lib/json3.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/hammerjs/hammer.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers.js"></script>
        <!-- endbuild -->
</body>
</html>
