<md-bottom-sheet class="md-list md-has-header">
    <md-subheader>Vos actions</md-subheader>
    <md-list>
        <md-item>
            <md-button class="md-grid-item-content">
                <div class="md-icon-container"><i class="fa fa-share"></i> Partager</div>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" ng-click="addFiat('Fiat 500');">
                <div class="md-icon-container"><i class="fa fa-plus"></i> Nouvelle catégorie</div>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content">
                <div class="md-icon-container"><i class="fa fa-cogs"></i> Administrer</div>
            </md-button>
        </md-item>
    </md-list>
</md-bottom-sheet>
