<md-bottom-sheet class="md-grid">
    <md-list>
        <md-item ng-repeat="item in items" ng-click="listItemClick($index)">
            <md-button class="md-grid-item-content">
                <div class="md-icon-container">
                    <i class="fa fa-{{item.icon}}"></i>
                    <br/>
                    {{ item.name }}
                </div>
                <!--<p class="md-grid-text"> {{ item.name }} </p>-->
            </md-button>

        </md-item>
    </md-list>
</md-bottom-sheet>
<!--<md-bottom-sheet class="md-list md-has-header">-->
    <!--<md-subheader>Comment Actions</md-subheader>-->
    <!--<md-list>-->
        <!--<md-item ng-repeat="item in items" ng-click="listItemClick($index)">-->
            <!--<md-button>-->
                <!--<i class="fa fa-{{item.icon}}"></i>-->
                <!--<span class="md-inline-list-icon-label">{{ item.name }}</span>-->
            <!--</md-button>-->
        <!--</md-item>-->
    <!--</md-list>-->
<!--</md-bottom-sheet>-->