<div ng-controller="ListCtrl">

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nom du document</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doc in documents">
                <td>
                    <i class="fa fa-folder" ng-if="doc.type == 'folder'" style="color: blue; font-size: 18px"></i>
                    <i class="fa fa-file" ng-if="doc.type != 'folder'"></i>
                </td>
                <td>{{ doc.name }}</td>
                <td>{{ doc.date }}</td>
            </tr>


        </tbody>

    </table>

    <md-button class="md-fab md-primary" ng-click="dialogBasic($event)"><i class="fa fa-plus"></i> Add</md-button>

</div>
