<md-dialog aria-label="Suspect app">
    <md-content>
        <h2><i class="fa fa-plus"></i> Ajouter un document</h2>
        <p>Merci de choisir la source du document</p>

        <md-button class="md-raised icon-capture"><i class="fa fa-camera"></i> Photo</md-button>
        <md-button class="md-raised icon-capture"><i class="fa fa-image"></i> Image</md-button>
        <md-button class="md-raised icon-capture"><i class="fa fa-dropbox"></i> Dropbox</md-button>
        <md-button class="md-raised icon-capture"><i class="fa fa-envelope"></i> Mail</md-button>
        <md-button class="md-raised icon-capture"><i class="fa fa-file"></i> Fichier local</md-button>
    </md-content>
    <div class="md-actions" layout="horizontal" layout-align="end">
        <md-button class="md-warn" ng-click="hide()">
            <i class="fa fa-remove"></i> Annuler
        </md-button>
    </div>
</md-dialog>