<md-dialog aria-label="Suspect app">
    <md-content>
        <h2><i class="fa fa-microphone"></i> Recherche vocale</h2>
        <p>Que souhaitez-vous rechercher ?</p>


        <div style="margin: 20px; padding-left: 60px; padding-top: 40px;">
            <md-progress-circular mode="indeterminate" diameter="80"></md-progress-circular>
        </div>
        <!--<img src="images/microphone.png">-->

        <div ng-show="displayResult">
            Vous avez demandé: <strong>facture EDF</strong>
        </div>

    </md-content>
    <div class="md-actions" layout="horizontal" layout-align="end">
        <md-button class="md-warn" ng-click="hide()">
            <i class="fa fa-remove"></i> Annuler
        </md-button>
    </div>
</md-dialog>
